$primary-color: #157540;
$primary-gradient: linear-gradient(#93CC4A , $primary-color);
$primary-background: #ffffff;
$placeholder-color: #7E7E7E;
$danger-color: #f44336;
$primary-active: #99cc66;
$success-color: green;
$danger-color: orangered;


// table
$pagination-icon-color: #c4cdd5;
$pagination-font-color: #7e7e7e;
$pagination-disabled: #919eab;
$table-head:  #E9F2D8;
$dashboardtable-head:#FFFFFF;
//button
$button-color: #157540;
