@use "@/styles/adminPage";
.imageIcon {
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 16px;
  cursor: pointer;
  padding: 8px;
display: flex;
justify-content: center;
  border: 0.5px solid #CCCCCC
}